@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49A09d, #5F2C82);
    }

    #login {
        width: 80vw;
        height: 50%;
    }
    
    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 66%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49A09d, #5F2C82);
    }

    #login {
        width: 90%;
        height: 40%;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 47%;

    }
}