@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bloco-logo {
    display: flex;
    background: url('../imagem/header_display_bg.jpg');
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}

img.logo {
    width: 200px;
}

.bloco-cabecalho {
    display: flex;
    justify-content: space-between;
    /* padding: 15px; */
    background-color: black;
}

.bloco-menu,
.bloco-secao {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.lista-menu > a,
.lista-secao > a {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px;
    /* margin: 0px 5px; */
    /* border-radius: 5px; */
    text-decoration: none;
}

.conteudo-principal {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: auto;
}

.titulo-principal {
    font-size: 2.2em;
    margin: auto;
    margin-top: 15px;
}

.titulo-secundario {
    font-size: 1.6em;
    margin-top: 15px;
}

.terceiro-titulo {
    font-size: 1.3em;
    margin-top: 15px;
}

.bloco-conteudo-principal {
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
}

.bloco-conteudo-principal > p, 
.bloco-conteudo-secundario > p {
    text-indent: 20px;
    margin-top: 15px;
    font-size: 1.1em;
}

.bloco-imagens {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

a > .imagem {
    width: 120px;
    margin: 0px 20px;
    padding-top: 20px;
}

a > #imagem {
    width: 120px;
    margin-right: 20px;
    padding-top: 20px;
}