* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: lightgray;
    list-style-type: none;
}

.container > img {
    width: 50px;
}

.itens > a {
    background-color: rgb(103, 172, 103);
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
}

.itens > a:hover {
    background-color: rgb(2, 194, 2);
}