@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.bloco-logo {
    display: flex;
    background: url('imagem/header_display_bg.jpg');
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}

img.logo {
    width: 200px;
    cursor: pointer;
}

.bloco-cabecalho {
    display: flex;
}

.menu {
    background-color: #D6D6D6;
}