@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'moderna';
    src: url('fonts/moderna.TTF');
}

@font-face {
    font-family: 'adobe';
    src: url('fonts/AdobeClean-Regular.otf');
}

head, p {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
}

h1 {
    color: #00ebdbd7;
    font-size: 2em;
    font-family: 'moderna', Helvetica, sans-serif;
    font-size: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 50px 15px 10px 20px;
    background-color: #035AA6;
    text-align: center;
}

.header {
    background-color: #035AA6;
    color: #00EBDA;
    font-family: 'adobe', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0px 50px 0px;
}

#lee {
    background-color: #0569EA;
    color: white;
    padding: 5px;
    text-decoration: none;
}

#lee:hover {
    text-decoration: underline;
}

#lee::after {
    content: ' ➜';
}

#navegacao {
    background-color: black;
    margin-top: 0px;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

#navegacao > p > a {
    color: white;
    background-color: black;
    font-family: 'adobe', Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 5px 5px;
}

#navegacao > p {
    display: inline-block;
    padding: 5px 0px 5px 0px;
}

#navegacao > p > a:hover {
    background-color: #035AA6;
    transition-duration: 0.5s;
}

main {
    width: 1000px;
    background-color: white;
    color: black;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    line-height: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px #00000041;
}

article, p {
     text-align: justify;
     text-indent: 30px;
}

h2 {
    background-image: linear-gradient(to right, #0569EA 30%, rgb(67, 167, 192));
    font-family: 'moderna', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    color: #00EBDA;
    padding: 8px;
    width: 100%;
    border-radius: 30px;
    margin: 10px 10px 10px 15px;
}

body {
    background-color: rgb(67, 167, 192)
}

.distancia {
    margin-top: 20px;
}

b {
    color: #0569EA;
    padding: 5px;
}

img {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.671);
}

.voltar {
    text-decoration: none;
    background-color: #035AA6;
    color: #00EBDA;
    padding: 3px;
}

.voltar:hover {
    text-decoration: underline;
}

#contato {
    font-family: 'adobe', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    padding: 15px;
    margin-bottom: 20px;
}

#completo {
    padding: 0px;
}

aside {
    background-color: #EB7500;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.479);
    margin-bottom: 10px;
}

aside > h3 {
    text-align: center;
    padding: 10px;
}

h3 {
    color: white;
    background-color: black;
    font-family: 'adobe', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

aside > p {
    padding: 15px;
}

#video {
    margin: 0px -10px 10px -10px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

iframe {
    display: block;
    margin: auto;
    padding: 0px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 3px;
}